.navbar{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li{
    display: inline;
    padding:20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

a.red {
    color: red;
}

.banner{
    background-color: #ffffff;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;
}